<!DOCTYPE html>
<html>
<head>
    <title>Acompanhamento de Aluno</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{url_for('static', filename='academia.png')}}" type="image/png">
</head>
<body>
    <h1>Acompanhamento de Aluno</h1>
<div class="form-container">
    <form method="POST">
        <label>Nome do aluno:</label>
        <input type="text" name="nome" required>
        <button type="submit">Buscar</button>
    </form>

    {% if aluno %}
        {% if aluno.encontrado %}
            <h2>Dados do Aluno:</h2>
            <p><strong>Nome:</strong> {{ aluno.nome }}</p>
            <p><strong>Email:</strong> {{ aluno.email }}</p>
            <p><strong>Objetivo:</strong> {{ aluno.objetivo }}</p>
            <p><strong>{{ aluno.mensagem }}</strong></p>
            <ul>
                {% for treino in aluno.treinos %}
                    <li>{{ treino }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>{{ aluno.mensagem }}</p>
        {% endif %}
    {% endif %}
</div>
</body>
</html>
