<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Controle de alunos</title>
</head>
<body>
    <div class="form-container">
    <h1>Fametro Gym</h1>
    
    <h2>Preencha os dados do aluno:</h2>
    <form method="POST" action="">
        <label for="nome">Nome: </label>
        <input type="text" name="nome"><br>
        <label for="telefone">telefone: </label>
        <input type="tel" name="telefone"><br>
        <label for="cpf">CPF: </label>
        <input type="text" name="cpf"><br>
        <label for="idade">Idade: </label>
        <input type="text" name="idade"><br>
        <label for="email">E-mail: </label>
        <input type="email" name="email"><br>
        <label for="objetivo">Objetivo: </label>
        <input type="text" name="objetivo"><br>
        <button type="submit">Enviar</button>
    </form>
    <a href="{{url_for('alunos')}}"><p class="index">deseja ver os alunos cadastrados?</p></a>
    <a href="{{url_for('index')}}"><p class="index">deseja retornar a pagina principal?</p></a>
    </div>
</body>

</html>
